.chat-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.563rem;
  /* height: 5.087%; */
  gap: 1.5rem;
}
.chat-bar input {
  /* width: 846.1px; */
  width: 79.32%;
  height: 2.56rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
}
.chat-bar button {
  /* width: 73.82px; */
  width: 6.92%;
  height: 2.56rem;
  border-radius: 5px;
  background-color: rgba(215, 199, 244, 1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Ubuntu; */
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
}
