.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 116px; */
  gap: 7.25rem;
  width: 100%;
}
.home-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home-heading h2 {
  /* font-family: Ubuntu; */
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 100%;
  text-align: center;
}
.home-heading img {
  width: 4.3125rem;
  /* width: 6.18%; */
  height: 4.3125rem;
  border-radius: 50%;
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.home-question-container {
  /* width: 1042px; */
  width: 97.6%;
  /* height: 254px; */
  /* height: 15.875rem; */
  border-radius: 5px;
  gap: 2rem;
}
.home-question-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
.home-question {
  /* width: 514px; */
  width: 48.3%;
  /* width: 100%; */
  height: 6.94rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.home-question h3 {
  /* font-family: Ubuntu; */
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 0 1rem;
}
.home-question p {
  /* font-family: Open Sans; */
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 0 1rem;
}
@media (max-width: 475px) {
  .home {
    gap: 1rem;
  }
  .home-question-row {
    flex-direction: column;
  }
  .home-question {
    width: 100%;
  }
  .last {
    display: none;
  }
}
