.previouschat-page {
  background: linear-gradient(
    180deg,
    rgba(215, 199, 244, 0.2) 0%,
    rgba(151, 133, 186, 0.2) 100%
  );
  /* width: 1066.7px; */
  padding-top: 11px;
  margin: 0;
  height: 50.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.previouschat-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.previouschat-container-heading {
  /* font-family: Ubuntu; */
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 100%;
}
.previous-chat {
  width: 100%;
  background-image: linear-gradient(90deg, #bface2 0%, #d7c7f4 100%);
}
.chat-box {
  width: 95.2%;
  /* height: 105px; */
  height: 6.5625rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.23rem;
  background-color: rgba(215, 199, 244, 0.13);
}

.chat-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.563rem;
  /* height: 5.087%; */
  gap: 1.5rem;
}
.chat-bar input {
  /* width: 846.1px; */
  width: 79.32%;
  height: 2.56rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
}
.chat-bar button {
  /* width: 73.82px; */
  width: 6.92%;
  height: 2.56rem;
  border-radius: 5px;
  background-color: rgba(215, 199, 244, 1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Ubuntu; */
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
}
