.chat-container {
  min-height: 50.4rem;
  /* background-image: linear-gradient(
    to bottom,
    rgba(215, 199, 244, 1),
    rgba(151, 133, 186, 1)
  ); */
  background: linear-gradient(
    180deg,
    rgba(215, 199, 244, 0.2) 0%,
    rgba(151, 133, 186, 0.2) 100%
  );
  /* width: 1066.7px; */
  padding-top: 11px;
  margin: 0;
}
.main-heading {
  /* font-family: Ubuntu; */
  width: 100%;
  height: 2rem;
  /* height: 3.97%; */
  margin-left: 1.75rem;
  /* margin-top: 11px; */
  color: rgba(151, 133, 186, 1);
}
.main-heading h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 100%;
}
.container {
  height: 48.4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* gap: 47px; */
  gap: 2.94rem;
}
.chat-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.563rem;
  /* height: 5.087%; */
  gap: 1.5rem;
}
.chat-bar input {
  /* width: 846.1px; */
  width: 79.32%;
  height: 2.56rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
}
.chat-bar button {
  /* width: 73.82px; */
  width: 6.92%;
  height: 2.56rem;
  border-radius: 5px;
  background-color: rgba(215, 199, 244, 1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Ubuntu; */
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
}
